.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* default: 2 kolom */
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        /* tablet & desktop: 3 kolom */
    }
}
li,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 300px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    background-size: cover;
}
